.tarjeta{
    height:300px;
    text-align:center;
    width:800px;
    display:table-cell;
    font-size:1.8rem;
    margin:0;
    padding:5rem;
    vertical-align:middle;
    font-family: "Pacifico", cursive;
    border-width: 15px; 
    border-style:outset groove; 
    border-color:#E61E1E;
    border-radius:50px; 
    width:790px; 
    height:1740px; 
    background-color:#F5E0D9;
    color:black;
  }
  
  button {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    height: 50px;
    width: 250px;
    border: 0;
    background-image: linear-gradient(
    150deg,
    #F5E0D9,
    #E61E1E,
    #EC7063
    );
    border-radius:8px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
  }
  
  button span {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    border-radius: 8px;
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0,1);
  }
  
  a:link{
    color:transparent;
    background: linear-gradient(
    #F5E0D9,
    #E61E1E,
    #EC7063
    );
    text-decoration: none;
    background-clip: text;
  }
  
  a:visited {
    color: blue;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: blue;
  }
  
  img {
    border-radius: 20px;
  }